<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.poetrypainting.ruda.dao.diary.DiaryMapper">
    <insert id="insert" parameterType="co.poetrypainting.ruda.domain.diary.DiaryVo">
        /* DiaryMapper.insert */
        INSERT INTO tbl_diary (weather,emotion,keyword,content,colorNo,memberNo,ownerDate)
        VALUES (#{weather},#{emotion},#{keyword},#{content},#{colorNo},#{memberNo},#{ownerDate})
    </insert>

    <select id="selectColorDto" resultType="co.poetrypainting.ruda.domain.color.ColorDto">
        /* DiaryMapper.selectColorDto */
        SELECT *
        FROM tbl_color
        WHERE colorNo > 0
    </select>

    <select id="selectByPrimaryKey" resultType="co.poetrypainting.ruda.domain.diary.DiaryVo">
        /* DiaryMapper.selectByPrimaryKey */
        SELECT *
        FROM tbl_diary
        WHERE diaryNo = #{diaryNo}
    </select>

    <select id="getColorCode">
        /* DiaryMapper.getColorCode */
        SELECT colorCode
        FROM tbl_color
        WHERE colorNo = #{getColorNo}
    </select>

    <select id="selectDiaryList" resultType="co.poetrypainting.ruda.domain.diary.DiaryVo">
        /* DiaryMapper.selectDiaryList */
        SELECT *
        FROM tbl_diary
        WHERE diaryNo > 0
        AND memberNo = #{memberNo}
    </select>

    <select id="countSearchResults" resultType="int">
        /* DiaryMapper.countSearchResults */
        SELECT count(*)
        FROM tbl_diary
        WHERE keyword LIKE CONCAT('%', #{keyword}, '%')
    </select>

    <select id="searchDiaryList" resultType="co.poetrypainting.ruda.domain.diary.DiaryVo">
        /* DiaryMapper.searchDiaryList */
        SELECT *
        FROM tbl_diary
        WHERE keyword like CONCAT('%', #{keyword}, '%')
        AND memberNo = #{memberNo}
    </select>

    <select id="searchDiaryListLatest" resultType="co.poetrypainting.ruda.domain.diary.DiaryVo" parameterType="map">
        /* DiaryMapper.searchDiaryListLatest */
        SELECT *
        FROM tbl_diary
        WHERE keyword LIKE CONCAT('%', #{keyword}, '%')
        AND memberNo = #{memberNo}
        ORDER BY ownerDate DESC
        LIMIT #{offset}, #{limit}
    </select>

    <select id="searchDiaryListOldest" resultType="co.poetrypainting.ruda.domain.diary.DiaryVo" parameterType="map">
        /* DiaryMapper.searchDiaryListOldest */
        SELECT *
        FROM tbl_diary
        WHERE keyword LIKE CONCAT('%', #{keyword}, '%')
        AND memberNo = #{memberNo}
        ORDER BY ownerDate ASC
        LIMIT #{offset}, #{limit}
    </select>

    <select id="countSearchDiary" resultType="int" parameterType="String">
        SELECT COUNT(*)
        FROM tbl_diary
        WHERE keyword LIKE CONCAT('%', #{keyword}, '%')
    </select>
</mapper>