<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="co.poetrypainting.ruda.mapper.DiaryMapper">
    <insert id="insert">
        insert into tbl_diary (weather,emotion,keyword,content,colorNo,memberNo,ownerDate)
        values(#{weather},#{emotion},#{keyword},#{content},#{colorNo},1,sysdate())
    </insert>
    <select id="selectColorDto" resultType="co.poetrypainting.ruda.domain.ColorDto">
		select * from tbl_color where colorNo > 0
	</select>
</mapper>